@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: "Work Sans", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#spy {
  background: url("./assets/images/spy.jpg") no-repeat left -50px;
}
