@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    font-family: 'Work Sans', sans-serif;
  }

body {
    width: 100vh;
    height: 100vh;
    background: url("./assets/spy.jpg") no-repeat left;
}